<!DOCTYPE html>
<html>
<title>Sensei</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://images.unsplash.com/photo-1524260521508-65da4ffd384a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8cfead92c767c92a40bd5c0a208d4bdd&auto=format&fit=crop&w=2552&q=80');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>


<head>
  <title>Sensei</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


  <body>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-topright w3-padding-large w3-medium">
        <% if user_signed_in? %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> |
            <% unless current_user %>
              <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
              <% binding.pry %>
            <% else %>
              <%= current_user[:name] %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% end %>
        <% end %>
      </div>
         <%=yield %>
    </div>
  </body>
</html>
